<!DOCTYPE html>
<html>
    <head>
        <title>Submit Tweet</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="http://cdn.sstatic.net/stackoverflow/img/favicon.ico">

    </head>
    <body>
        <div class="main-content">
            <h1 id="title">{{title}}</h1>
            <img id="ant-image" src="./img/ant_1f41c.png">
            <form>
                <textarea id="tweet" placeholder="submit a tweet"></textarea>
                <button id="submit-button">submit</button>
            </form>
            <p id="message"></p>
            <p id="ant-emoji">&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028&#128028</p>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <link rel="stylesheet" href="/@sweetalert2/theme-borderless/borderless.css">

        <script src="/js/app.js"></script>

    </body>
</html>